@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

:root{
  --roboto-font: "Roboto", sans-serif;
  --primary: #9b9b9b;
  --primary-hover: #636363;
  --red: #ff0000;
  --white: #fff;
  --black: #000;
  --green: #239600;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--roboto-font);
}

html{
  margin: 0;
  padding: 0;

}

*{
  transition: 200ms;
  box-sizing: border-box;
}